@page "/"
@using WebsiteAboutGazells.Shared.Models;
@using System.Linq
@using WebsiteAboutGazells.Client.Shared.Store;
@inherits BaseComponent;
@inject HttpClient http

<h1>This is a website about Gazelles</h1>

<p>Click learn more to learn more about your chosen Gazelle.</p>

@*@if (@State.Gazelles != null)
{
    <ul>
        @foreach (var item in new List<Gazelle>(State.Gazelles).Select((gazelle, index) => new { index, gazelle }))
        {
            <li>
                <span>@item.gazelle.Name</span>
                <NavLink class="nav-link" href="@String.Format("gazelles/{0}", item.index)">learn more</NavLink>
            </li>
        }
    </ul>
}*@

@functions {
    protected override async Task OnInitAsync()
    {
        await ActionCreators.LoadGazelles(Store.Dispatch, http);
    }
}

